<!--  header -->
<header class="main-header hide-on-large-only">
    <nav class="green">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="/images/Sierra_Leone_Coat_Of_Arms.png" alt=""></a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons ">menu</i>
                </a>
            
                <!-- mobile navigations -->
                <ul class="sidenav" id="mobile-nav">
                    <img src="/images/Sierra_Leone_Coat_Of_Arms.png" alt="">
                    <h4 class="green-text text-darken-4 center">AMIS</h4>
                    <h6 class="green-text text-darken-4 center">Agriculture Market Information System</h6>
                    <div class="divider"></div>
                    <div class="container">
                        <h6 class="black-text">
                            This is a customized data collection tool for the Ministry of Agriculture Sierra Leone.
                            <br/>
                            This application will capture and post realtime data to the ministry's data portal.
                        </h6>
                    </div>
                    <div class="divider"></div>
                    <h6 class="green-text" id="devHeadingText">select any to make input</h6>
                    <ul>
                        <li>
                            <a href="/"><i class="material-icons green-text left">account_box</i>Create Farmers data</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/inputMarketData"><i class="material-icons green-text left">create</i>Create Market Data</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/inputTradeFlowData"><i class="material-icons green-text left">create</i>Create Trade Flow</a>
                        </li>
                    </ul>
                    

                    <div class="divider"></div>
                    <h6 class="green-text" id="devHeadingText">Developers</h6>
                    <div class="row">
                        <div class="col s4 pull-s1">
                            <img class="circle" src="/images/developers/ibrahimPhoto.jpeg">
                        </div>
                        <div class="col s8 pull-s1"><span class="black-text">Ibrahim Turay</span></div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s4 pull-s1">
                            <img class="circle" src="/images/developers/lovelPhoto.jpg">
                        </div>
                        <div class="col s6 pull-s1"><span class="black-text">Abu Bakarr Bangura</span></div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s4 pull-s1">
                            <img class="circle" src="/images/developers/maejPhoto.jpg">
                        </div>
                        <div class="col s8 pull-s1"><span class="black-text">Muhammad Mustapha Sesay</span></div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
