<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/materialize.min.css">
    <link rel="stylesheet" href="/iconfont/material-icons.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/animate.min.css">

    <title><%= siteTitle %>--<%= pageTitle %></title>