<!-- navbar -->
<header>
    <nav class="green">
        <div class="container">
            <div class="nav-wrapper">
                <img class="brand-logo" src="../images/Sierra_Leone_Coat_Of_Arms.png">
                <a href="#" >
                    Agriculture Market Information System
                </a>
                <!-- <a href="#!"><img class="circle" src="images/Sierra_Leone_Coat_Of_Arms.png"></a> -->
                <!--larger devices navigation-->
                <ul class="right hide-on-med-and-down">
                    <li><a class="active" href="/displayData/tradeFlow">Trade Flow</a></li>
                    <li><a href="/displayData/Market">Market Data</a></li>
                    <li><a href="#">Enumerator</a></li>
                    <li>
                        <a href="#" class="btn-floating tooltipped" data-tooltip="account" id="user_account_icon">
                            <i class="material-icons">user</i></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
</header>
    