<!-- navbar -->
<header>
    <nav class="green">
        <div class="container">
            <div class="nav-wrapper">
                <img class="brand-logo" src="../images/Sierra_Leone_Coat_Of_Arms.png">
                <a href="#" >
                    Agriculture Market Information System
                </a>
                <ul class="right admin">
                    <li><a href="/tradeFlow">Trade Flow</a></li>
                    <li><a href="/market">Market Data</a></li>
                    <li><a href="/enumerator">Enumerator</a></li>
                    <li>
                        <a href="#" class="btn-floating tooltipped" data-tooltip="account" id="user_account_icon">
                            <i class="material-icons">account_circle</i></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
</header>
    