<section class="section about-section">
    <div class="container">
        <h3 class="center">Agricultural Information Management System (AMIS) </h3>
        <p>  
            Is concerned with all activities and resources necessary for acquisition, storage, updating, and making agricultural information and data of all kinds and formats—scientific research reports, growers’ testimonies, market information, details of practical crop production technologies, machinery, weather forecasts, sources of credit, production, education and training and other instructional manuals, ‘grey zone’ literature—accessible to agricultural stakeholders at all levels. 
            <br>
            <br>
            The AMIS is an initiative of the Ministry of Agriculture (MAF) in Sierra Leone and sponsored by Smallholder Commercialization and Agribusiness Development Project (SCADEP) through the World Bank.
            <br>
            <br>
            It consists of a mobile app that is used to collect data of Market Prices of Agricultural commodities, Trade Flow, Information on Exporters and Farmer Based Organizations (FBOs).
            <br>
            <br>
            It is intended to be launched in May 2019.
            <br>
            <br>
            AMIS considers not only information resources and technologies, but also development of the human resources needed for efficient use of these technologies. Agriculture, in the medium term at least, is seen as key to reversing worsening poverty in many countries including Sierra Leone.
            <br>
            <br>
            If this strategy is to succeed, the relevance, quality and accessibility of information for all agricultural stakeholders must be assured on a wider scale than ever before. 
            <br>
            <br>
            Agricultural information and AMIS are therefore attracting intensified focus as a critical component of projects, programmes and agreements concerned with economic development and poverty reduction in Sub Saharan Africa.
            <br>
            <br>
            But isolated approaches to AMIS for development may have little chance of success.
            <br>
            <br>
            Several resources need to be in place before information can be acted upon and lead to the changes desired by the individuals, communities, organizations, states.    
            
        </p>
        <ul>
            <p>These resources include:</p>
            <li>• Data Resources: availability of relevant data.</li>
            <li>• Economic Resources: the money, the skills, and the technology in order to access the data.</li>
            <li>• Social Resources: the motivation, confidence and knowledge to access, assess and apply the data, and to be able to trust the source.</li>
            <li>• Action Resources: the ability to act on the decisions made with the information. This may be hard resources eg money, technology, raw materials or soft resources eg skills and empowerment. This implies a high degree of integration between AMIS services and other services, together with policy.
            </li>
        </ul>
</div>
</section>