<!-- AVAILABLE PRODUCTS CONTENT -->
<h5 class="center" id="header-text">Available Products</h5>
<div class="center line green"></div>
<div class="availableProducts">
    <div class="row">
        <% cashCrops.forEach(function(product){ %>
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image responsive">
                        <img src="/images/products/<%= product.shortname %>.jpg">
                    </div>
                    <div class="card-content">
                        <h5 class="center"><%= product.name %></h5>
                        <div class="center">
                            <a href="#modal1" class="btn modal-trigger  green white-text">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        <%});%>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
       <div class="container">
           <div class="row">
               <h5>We are very delighted to see your interest to put in an order. Please fill the form below.
               </h5>
           </div>
           <div class="card row center">
               <div class="col s12 m12">
                   <div class="input-field green-text">
                       <input type="text" class=" white-text" id="name" for="name">
                       <label for="name" class="green-text">Full Name:</label>
                   </div>
               </div>
               <div class="col s12 m6">
                   <div class="input-field">
                       <input type="text" id="name" class="green-text" for="name">
                       <label for="name" class="green-text">Address:</label>
                   </div>
               </div>
               <div class="col s12 m6">
                   <div class="input-field">
                       <input type="text" id="name" class="green-text" for="name">
                       <label for="name" class="green-text">Email:</label>
                   </div>
               </div>
               <div class="col s12 m6">
                   <div class="input-field">
                       <input type="number" id="name" class="green-text" for="name">
                       <label for="name" class="green-text">Telephone:</label>
                   </div>
               </div>
               <div class="col s12 m6">
                   <div class="input-field">
                       <input type="number" id="name" class="green-text" for="name">
                       <label for="name" class="green-text">Optional Tele:</label>
                   </div>
               </div>
               <div class="col s12 m10">
                   <div class="input-field">
                       <input type="number" id="name" class="green-text" for="name">
                       <label for="name" class="green-text">Select total number of bag  you want</label>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="modal-footer">
     <a href="#!" class="modal-close btn waves-green green white-text btn-flat">Submit</a>
    </div>
</div>
