<div class="row">
    <ul class="collection with-header">
        <div class="col s6 m3">
            <li class="collection-header"><h4>Tonkolili</h4></li>
            <li class="collection-item">Orange<span class="new badge blue">4 bags</span></li>
            <li class="collection-item"><div>Pineapple<span class="new badge blue">7 bags</span></div></li>
            <li class="collection-item"><div>Banana<span class="new badge blue">3 bags</span></div></li>
            <li class="collection-item"><div>Mango<span class="new badge blue">5 bags</span></div></li>
        </div>
        <div class="col s6 m3">
            <li class="collection-header"><h4>Falaba</h4></li>
            <li class="collection-item"><div>Orange<span class="new badge blue">4 bags</span></div></li>
            <li class="collection-item"><div>Pineapple<span class="new badge blue">7 bags</span></div></li>
            <li class="collection-item"><div>Banana<span class="new badge blue">3 bags</span></div></li>
            <li class="collection-item"><div>Mango<span class="new badge blue">5 bags</span></div></li>
        </div>
        <div class="col s6 m3">
            <li class="collection-header"><h4>Bombali</h4></li>
            <li class="collection-item"><div>Orange<span class="new badge blue">4 bags</span></div></li>
            <li class="collection-item"><div>Pineapple<span class="new badge blue">7 bags</span></div></li>
            <li class="collection-item"><div>Banana<span class="new badge blue">3 bags</span></div></li>
            <li class="collection-item"><div>Mango<span class="new badge blue">5 bags</span></div></li>
        </div>
        <div class="col s6 m3">
            <li class="collection-header"><h4>Kono</h4></li>
            <li class="collection-item"><div>Orange<span class="new badge blue">4 bags</span></div></li>
            <li class="collection-item"><div>Pineapple<span class="new badge blue">7 bags</span></div></li>
            <li class="collection-item"><div>Banana<span class="new badge blue">3 bags</span></div></li>
            <li class="collection-item"><div>Mango<span class="new badge blue">5 bags</span></div></li>
        </div>
    </ul>
</div>