<!-- chart data page -->
<section class="section charts_section " >
    <h4 class="center green-text farmerTitle">REALTIME FARMER CHARTS</h4>
    <div class="col s12 m12">
        <div class="row charts_section">
                <!-- bar charts -->
            <div class="col s12 m6">
                <h5 class="center">Bar Farmer Data</h5>
                <canvas id="barChart" height="400" width="600"></canvas>
            </div>
            <!--  polar charts -->
            <div class="col s12 m6">
                <h5 class="center">Polar Farmer Data</h5>
                <canvas id="polarChart" height="400" width="600"></canvas>
            </div>
        </div>
        <div class="row charts_section">
            <!--  pie charts -->
            <div class="col s12 m6">
                <h5 class="center">Pie Farmer Data</h5>
                <canvas id="pieChart" height="400" width="600"></canvas>
            </div>
            <!-- bubble charts -->
            <div class="col s12 m6">
                <h5 class="center">Bubble Farmer Data</h5>
                <canvas id="lineChart" height="400" width="600"></canvas>
            </div>
        </div>
    </div>
</section>