<!-- display data page -->
<section class="section dispMarket_section">
    <div class="col s12 m12">
        <h4 class="center green-text">GREEN LIVING DATA COLLECTION TOOL</h4>
        <h5 class="center">Realtime Market Data</h5>
        <!-- <div class="input-field right">
            <label for="" class="black-text">Search By Gender</label>
            <input type="text" id="getSex">
            <div class="btn blue" id="searchButton">Search</div>
        </div> -->
        <div class="container">
            <table class="responsive-table striped centered" >
                <thead>
                    <tr>
                        <th>Locality</th>
                        <th>Chiefdom</th>
                        <th>District</th>
                        <th>Region</th>
                        <th>Enumerator</th>
                        <th>Date</th>
                        <th>Wholesale Unit</th>
                        <th>Wholesale Wight(kg)</th>
                        <th>Wholesale Price</th>
                        <th>Retail Unit</th>
                        <th>Retail Weight(kg)</th>
                        <th>Retail Price</th>
                    </tr>
                </thead>
                <tbody id="marketTableBody">
                    <!-- display realtime database here -->
                </tbody>
            </table>
        </div>
    </div>
</section>