<!-- display data page -->
<section class="section dispTradeFlow_section">
    <div class="col s12 m12">
        <h4 class="center green-text">GREEN LIVING DATA COLLECTION TOOL</h4>
        <h5 class="center">Realtime Trade Flow Data</h5>
        <!-- <div class="input-field right">
            <label for="" class="black-text">Search By Gender</label>
            <input type="text" id="getSex">
            <div class="btn blue" id="searchButton">Search</div>
        </div> -->
        <div class="container">
            <table class="responsive-table striped centered" >
                <thead>
                    <tr>
                        <th>Locality</th>
                        <th>Chiefdom</th>
                        <th>District</th>
                        <th>Region</th>
                        <th>Enumerator</th>
                        <th>Date</th>
                        <th>Location-F</th>
                        <th>Chiefdom-F</th>
                        <th>District-F</th>
                        <th>Country-F</th>
                        <th>Location-T</th>
                        <th>Chiefdom-T</th>
                        <th>District-T</th>
                        <th>Country-T</th>
                    </tr>
                </thead>
                <tbody id="tradeFlowTableBody">
                    <!-- display realtime database here -->
                </tbody>
            </table>
        </div>
    </div>
</section>