<!-- display data page -->
<section class="section displayData_section " >
    <div class="col s12 m12 content">
        <h4 class="center green-text">GREEN LIVING DATA COLLECTION TOOL</h4>
        <h5 class="center farmerTitle">Farmers Realtime Data</h5>
        <div class="container">
            <table class="responsive-table centered" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Sex</th>
                        <th>Crop</th>
                    </tr>
                </thead>
                <tbody id="farmersTableBody">
                    <!-- <tr>
                        <td id="frName"></td>
                        <td id="frLoco"></td>
                        <td id="frSex"></td>
                        <td id="frCrop"></td>
                    </tr> -->
                <!-- <tr>
                    <td>Alpha Bah</td>
                    <td>Bo</td>
                    <td>Male</td>
                    <td>Fruits</td>
                </tr>
                <tr>
                    <td>Alpha Bah</td>
                    <td>Bo</td>
                    <td>Male</td>
                    <td>Fruits</td>
                </tr>
                <tr>
                    <td>Esther Kargbo</td>
                    <td>Makeni</td>
                    <td>Female</td>
                    <td>Mango</td>
                </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</section>