<!-- farmer page -->
<section class="section farmer_section hide-on-large-only">
    <!-- <div class="card green lighten-3">
        <h4 class="center">GREENTA COLLECT</h4>
    </div> -->
    <!-- <div class="divider"></div> -->
    <form method="POST" action="/" id="farmersForm">
        <div class="row">
            <!-- capturing the data -->
            <div class="col s12 ">
                <h5 class="center green-text text-darken-1">Please fill in the form</h5>
                <div class="submitAlert">
                    <p>Success: Your data has been sent</p>
                </div>
                <div class="container">
                    <div class="input-field">
                        <label for="name">Name</label>
                        <input type="text" name="farmerName" id="farmerName" required>
                    </div>
                    <div class="input-field">
                        <label for="location">Location</label>
                        <input type="text" name="farmerLocation" id="farmerLocation" required>
                    </div>
                    <div class="input-field">
                        <label for="sex">Sex</label>
                        <input type="text" name="farmerSex" id="farmerSex" required>
                    </div>  
                    <div class="input-field">
                        <label for="crop">Crop</label>
                        <input type="text" name="farmerCrop" id="farmerCrop" required>
                    </div>
                </div>
                <button class="btn blue lighten-2 center" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</section>