<div  id="place_order_form">
    <h3 class="center white-text phead">Collaboration of Technology</h3>
    <p class="center" id="pw">Agirc Tech bring financial inclusion for the ordinary farmer</p>
     <div class="container">
         <div class="row">
            <div class="col s12 m4 pull-m1">
                <img src="/images/compho2.png" id="pimg" alt="" srcset="">
            </div>
            <div class="col s12 m6">
                <ol>
                    <li class="white-text" id="pword"> Bridging the gaps of disatisfaction between farmers and consumer through AMIS digital market system</li>
                    <li class="white-text" id="pword"> Satisfaction is what we assure our clients</li>
                    <li class="white-text" id="pword"> Creating equal agriculral market platform for all</li>
                    <li class="white-text" id="pword"> Promoting social protection and agricultural program to farmers</li>
                </ol>
                <br>
            </div>
            <div class="col s6 m2 ">
                <a href="/charts" class="btn light-blue z-depth-5 white-text hoverable" id="chat-btn">Charts</a>
            </div>
        </div>
     </div>
</div>
