.main-header .nav-wrapper img{
    padding-top: -2px;
    height: 55px;
}

.sidenav img{
    margin-top: 5%;
    margin-left: 35%;
}

.sidenav h4{
    font-size: 18px;
}

.sidenav .container h6{
    font-size: 1.1em;
    text-align: center;
}

#devHeadingText{
    margin-left: 20px !important;
    padding-bottom: 20px !important;
}

.section .farmer_section {
    height: 100vh;
}

.section .farmer_section form{
    height: 100vh;
}

.submitAlert{
    text-align: center;
    padding: 10px;
    background-color: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

.displayData_section{
    background-color: #dddddd;
    min-height: 100% !important;
}

.displayData_section .content{
    padding: 10vh 0;
}

.displayData_section .content .container table{
    margin-top: 50px;
    border: 5px solid #79c879 ;
}

#farmerTitle {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: rgb(150, 150, 150);
}
#farmerTitle:before, #farmerTitle:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(226, 226, 226);
    margin: auto;
}

#barChart{
    border: 2px solid black;
}

/* .charts_section canvas{
    margin-left: 100px;
} */