<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/templates/web-header.ejs %>

    <div class="container">
        <h5>This section is still on development</h5>
    </div>
      <!-- including the js scripts template -->
      <% include partials/templates/jsscripts.ejs %>
</body>
    <!-- including the footer template -->

</html>
