<% include partials/admin/admin-head %>
<body class="theme-blue">
    <!-- Page Loader -->
    <% include partials/admin/admin-page-loader %>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <% include partials/admin/top-nav %>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <% include partials/admin/admin-left-sidebar %>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <% include partials/admin/admin-right-sidebar %>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>
            <!-- Widgets -->
            <!-- <% include partials/admin/admin-widgets %> -->
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
            <!-- <% include partials/admin/admin-cpu-usage %> -->
            <!-- #END# CPU Usage -->
            <!-- <div class="row clearfix"> -->
                <!-- Visitors -->
                <!-- <% include partials/admin/admin-visitors %> -->
                <!-- #END# Visitors -->
                <!-- Latest Social Trends -->
                <!-- <% include partials/admin/admin-social-trends %> -->
                <!-- #END# Latest Social Trends -->
                <!-- Answered Tickets -->
                <!-- <% include partials/admin/admin-answered-tickets %> -->
                <!-- #END# Answered Tickets -->
            <!-- </div> -->

            <!-- <div class="row clearfix"> -->
                <!-- Task Info -->
                <!-- <% include partials/admin/admin-task-info %> -->
                <!-- #END# Task Info -->
                <!-- Browser Usage -->
                <!-- <% include partials/admin/admin-browser-usage %> -->
                <!-- #END# Browser Usage -->
            <!-- </div> -->
        </div>
    </section>

    <% include partials/admin/admin-jslinks.ejs %>
</body>

</html>
