<html lang="en">
<head>
    <% include partials/templates/head.ejs %>

</head>
<body id="<%= pageID %>">

    <% include partials/templates/web-header.ejs %>
    <!-- display data page -->

    <!-- display data page -->
    <section class="section dispMarket_section">
        <div class="col s12 m12">
            <h5 class="center">Realtime Charts</h5>

            <!-- chart section -->
            <div class="container">
                <div class="row">
                    <!-- bar charts -->
                    <div class="col s12 m6">
                        <!-- <h5 class="center">Product Prices</h5> -->
                        <!-- <canvas id="barChart" height="250" width="300"></canvas> -->
                        <div id="farmerschart" height="250px" width="100%"></div>
                    </div>
                    <!--  polar charts -->
                    <div class="col s12 m6 push-l1">
                        <!-- <h5 class="center">Daily High Temperature at Different Locations</h5> -->
                        <div id="cropchart" height="250px" width="100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- firebase script -->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <!-- including the js scripts template -->
    <% include partials/templates/jsscripts.ejs %>

    <!-- chart js link -->
    <script src="/js/charts.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>chartContainer -->

</body>
</html>
