<html lang="en">
<head>
    <% include partials/templates/head.ejs %>

</head>
<body id="<%= pageID %>">

    <% include partials/templates/web-header.ejs %>
    <!-- display data page -->

    <!-- display data page -->
    <section class="section dispMarket_section">
        <div class="col s12 m12">
            <h5 class="center">Realtime Charts</h5>

            

                <div class="row">
                    <!-- chart section -->
                <div class="container">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s2"><a class="active" href="#test1">Rice</a></li>
                            <li class="tab col s2"><a class="active" href="#test2">Cacao</a></li>
                            <li class="tab col s2"><a class="active" href="#test3">Coffee</a></li>
                            <li class="tab col s2"><a class="active" href="#test4">Palm Oil</a></li>
                            <li class="tab col s2"><a class="active" href="#test5">Cassava</a></li>
                            <li class="tab col s2"><a class="active" href="#test4">Palm Oil</a></li>
                        </ul>
                    </div>
                        <!-- viewing section -->
                    
                    <div id="test1" class="col s12">
                        <div id="ricechart" minHeight="100%" width="100%"></div>
                    </div>
                    <div id="test2" class="col s12">
                        <div id="cacaochart" height="250px" width="100%"></div>
                    </div>
                    <div id="test3" class="col s12">
                        <div id="coffeechart" height="250px" width="100%"></div>
                    </div>
                    <div id="test4" class="col s12">
                        <div id="palmoilchart" height="250px" width="100%"></div>
                    </div>
                    <div id="test5" class="col s12">
                            <div id="cassavachart" height="250px" width="100%"></div>
                    </div>
                </div>
                </div>
                <!-- second set -->
                
            
        </div>
    </section>


    <!-- firebase script -->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <!-- including the js scripts template -->
    <% include partials/templates/jsscripts.ejs %>

    <!-- chart js link -->
    <script src="/js/charts.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>chartContainer -->

</body>
</html>
