<html lang="en">

<head>
    <% include partials/templates/head.ejs %>

</head>

<body id="<%= pageID %>">

    <% include partials/templates/web-header.ejs %>

    <!-- display data page -->
    <section class="section dispMarket_section">
        <div class="col s12 m12 ">
            <h5 class="center">Price Analysis</h5>
            <br>
            <br>
            <div class="row">
                <div class="container center">
                    <div class="col m4">
                        <button class="btn hoverable wholesale green white-text">View Wholesale Price</button>
                    </div>
                    <div class="col m4">
                        <button class="btn hoverable retail green white-text">View Retail Price</button>
                    </div>
                    <div class="col m4">
                        <button class="btn hoverable farmgate green white-text">View Farm Gate Price</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- wholesale chart section -->
                <div class="container wholesaleContainer">
                    <div class="col s12">
                        <h4 class="center">Wholesale Prices</h4>
                        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                            <li class="green-text tab col s2"><a class="active" href="#test1">Rice</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test2">Cacao</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test3">Coffee</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test4">Palm Oil</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test5">Cassava</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test6">Groundnut</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test7">Sweet Potatoe</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test8">Maize</a></li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- Wholesale Charts  -->
                    <div id="test1" class="col s12">
                        <div id="ricechartWP" minHeight="100%" width="100%"></div>
                    </div>
                    <div id="test2" class="col s12">
                        <div id="cacaochartWP" height="250px" width="100%"></div>
                    </div>
                    <div id="test3" class="col s12">
                        <div id="coffeechartWP" height="250px" width="100%"></div>
                    </div>
                    <div id="test4" class="col s12">
                        <div id="palmoilchartWP" height="250px" width="100%"></div>
                    </div>
                    <div id="test5" class="col s12">
                        <div id="cassavachartWP" height="250px" width="100%"></div>
                    </div>
                    <div id="test6" class="col s12">
                        <div id="groundnutchartWP" height="250px" width="100%"></div>
                    </div>
                    <div id="test7" class="col s12">
                        <div id="sweetpotatoechartWP" height="250px" width="100%"></div>
                    </div>
                    <div id="test8" class="col s12">
                        <div id="maizechartWP" height="250px" width="100%"></div>
                    </div>
                    <!-- Wholesale Charts  -->
                </div>
                <!-- end of wholesale chart section -->
                <!-- retail chart section -->
                <div class="container retailContainer">
                    <div class="col s12">
                        <h4 class="center">Retail Prices</h4>
                        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                            <li class="green-text tab col s2"><a class="active" href="#test1">Rice</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test2">Cacao</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test3">Coffee</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test4">Palm Oil</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test5">Cassava</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test6">Groundnut</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test7">Sweet Potatoe</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test8">Maize</a></li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- retail Charts  -->
                    <div id="test1" class="col s12">
                        <div id="ricechartRP" minHeight="100%" width="100%"></div>
                    </div>
                    <div id="test2" class="col s12">
                        <div id="cacaochartRP" height="250px" width="100%"></div>
                    </div>
                    <div id="test3" class="col s12">
                        <div id="coffeechartRP" height="250px" width="100%"></div>
                    </div>
                    <div id="test4" class="col s12">
                        <div id="palmoilchartRP" height="250px" width="100%"></div>
                    </div>
                    <div id="test5" class="col s12">
                        <div id="cassavachartRP" height="250px" width="100%"></div>
                    </div>
                    <div id="test6" class="col s12">
                        <div id="groundnutchart" height="250px" width="100%"></div>
                    </div>
                    <div id="test7" class="col s12">
                        <div id="sweetpotatoechartRP" height="250px" width="100%"></div>
                    </div>
                    <div id="test8" class="col s12">
                        <div id="maizechartRP" height="250px" width="100%"></div>
                    </div>
                    <!-- retail Charts  -->
                </div>
                <!-- end of retail chart section -->
                <!-- farm-gate chart section -->
                <div class="container farmgateContainer">
                    <div class="col s12">
                        <h4 class="center">Farm Gate Prices</h4>
                        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                            <li class="green-text tab col s2"><a class="active" href="#test1">Rice</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test2">Cacao</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test3">Coffee</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test4">Palm Oil</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test5">Cassava</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test6">Groundnut</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test7">Sweet Potatoe</a></li>
                            <li class="green-text tab col s2"><a class="active" href="#test8">Maize</a></li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- farm-gate Charts  -->
                    <div id="test1" class="col s12">
                        <div id="ricechartFGP" minHeight="100%" width="100%"></div>
                    </div>
                    <div id="test2" class="col s12">
                        <div id="cacaochartFGP" height="250px" width="100%"></div>
                    </div>
                    <div id="test3" class="col s12">
                        <div id="coffeechartFGP" height="250px" width="100%"></div>
                    </div>
                    <div id="test4" class="col s12">
                        <div id="palmoilchartFGP" height="250px" width="100%"></div>
                    </div>
                    <div id="test5" class="col s12">
                        <div id="cassavachartFGP" height="250px" width="100%"></div>
                    </div>
                    <div id="test6" class="col s12">
                        <div id="groundnutchartFGP" height="250px" width="100%"></div>
                    </div>
                    <div id="test7" class="col s12">
                        <div id="sweetpotatoechartFGP" height="250px" width="100%"></div>
                    </div>
                    <div id="test8" class="col s12">
                        <div id="maizechartFGP" height="250px" width="100%"></div>
                    </div>
                    <!-- farm-gate Charts  -->
                </div>
                <!-- end of farm-gate chart section -->
            </div>
            <!-- second set -->
        </div>
        </div>
    </section>

    <!-- firebase script -->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <!-- including the js scripts template -->
    <% include partials/templates/jsscripts.ejs %>

    <!-- chart js link -->
    <script src="/js/charts.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>chartContainer -->

</body>

</html>