<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body id="<%= pageID %>">

    <% include partials/templates/admin-header.ejs %>

    <section class="section enumerator-registration-section">
        <div class="container">
            <div class="title">CREATE MARKET DATA HERE</div>
            <!-- REGISTRATON FORM -->
            <form method="POST" action="/postMarketData" class="marketDataApiForm">
                <% if (locals.success_msg) {%>
                    <div class="card-panel green lighten-4 green-text text-darken-4 z-depth-1 alertCard"><%= success_msg %></div>
                <% } %>
                <% if (locals.error_msg) {%>
                    <div class="alert alert-danger"><%= error_msg %></div>
                <% } %>
                <% if (locals.error) {%>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>
                <div class="row">
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix"></i>
                        <label for="district">District</label>
                        <input id="district" type="text" class="validate" name="district" required>
                    </div>
                    <div class="input-field col s12 m4">
                        <label for="product">Product</label>
                        <input id="product" type="text" class="validate" name="product" required>
                    </div>
                    <div class="input-field col s12 m4">
                        <label for="price">Price</label>
                        <input id="price" type="number" class="validate" name="price" required>
                    </div>
                </div>
                <input class="btn-large btn-enum blue" type="submit" value="POST">
            </form>
        </div>
    </section>

    <!-- firebase script -->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <!-- main script -->
    <!-- <script src="/js/main.js"></script> -->

    <!-- including the js scripts template -->
    <% include partials/templates/jsscripts.ejs %>
</body>
</html>
