<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body id="<%= pageID %>">

    <% include partials/templates/web-header.ejs %>
    <!-- display data page -->
    <section class="section dispTradeFlow_section">
            <div class="col s12 m12">
                <h4 class="center green-text">AMIS DATA COLLECTION TOOL</h4>
                <h5 class="center">Realtime Trade Flow Data</h5>

                <!-- chart section -->
                <div class="container">
                    <div class="row">
                        <!-- bar charts -->
                        <div class="col s12 m6 ">
                            <h5 class="center">Bar Farmer Data</h5>
                            <canvas id="barChart" height="250" width="300"></canvas>
                            <!-- <div id="myfirstchart" height="250"></div> -->
                        </div>
                        <!--  polar charts -->
                        <div class="col s12 m6 push-l1">
                            <h5 class="center">Polar Farmer Data</h5>
                            <canvas id="polarChart" height="250" width="300"></canvas>
                        </div>
                    </div>
                </div>
               
                <!-- table section -->
                <!-- <div class="container"> -->
                    <h5 class="center">TRADE FLOW DATA TABLE</h5>
                    <table class="responsive-table striped centered mdl-data-table display" id="example">
                        <thead>
                            <tr>
                                <th>Locality</th>
                                <th>Chiefdom</th>
                                <th>District</th>
                                <th>Region</th>
                                <th>Enumerator</th>
                                <th>Date</th>
                                <th>Location-F</th>
                                <th>Chiefdom-F</th>
                                <th>District-F</th>
                                <th>Country-F</th>
                                <th>Location-T</th>
                                <th>Chiefdom-T</th>
                                <th>District-T</th>
                                <th>Country-T</th>
                            </tr>
                        </thead>
                        <tbody id="tradeFlowTableBody">
                            <!-- display realtime database here -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Locality</th>
                                <th>Chiefdom</th>
                                <th>District</th>
                                <th>Region</th>
                                <th>Enumerator</th>
                                <th>Date</th>
                                <th>Location-F</th>
                                <th>Chiefdom-F</th>
                                <th>District-F</th>
                                <th>Country-F</th>
                                <th>Location-T</th>
                                <th>Chiefdom-T</th>
                                <th>District-T</th>
                                <th>Country-T</th>
                            </tr>
                        </tfoot>
                    </table>
                <!-- </div> -->
            </div>
        </section>


    <!-- firebase script -->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
    <!-- including the js scripts template -->
    <% include partials/templates/jsscripts.ejs %>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script> -->

    <!-- chart js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    
    
    
    <script src="/js/chartscript.js"></script>
    
    <!-- farmers data script -->
    <!-- <script src="/js/fetchFarmersData.js"></script> -->

    <!-- market data script -->
    <!-- <script src="/js/fetchMarketData.js"></script> -->

    <!-- tradeflow data script -->
    <script src="/js/fetchTradeFlowData.js"></script>
    
</body>
</html>