<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a href="/admin/dashboard">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>Posts</span>
            </a>
            <ul class="ml-menu">
                <li><a href="/admin/posts">All posts</a></li>
                <li><a href="/admin/posts/create">Create post</a></li>
                <li><a href="/registerFarmer">Register Farmer</a></li>
                <li><a href="/enumerator">Register Enumerator</a></li>
                <li><a href="/createMarketData">Create market data</a></li>
                
                <!-- <li>
                    <a href="pages/forms/basic-form-elements.html">Basic Form Elements</a>
                </li>
                <li>
                    <a href="pages/forms/advanced-form-elements.html">Advanced Form Elements</a>
                </li>
                <li>
                    <a href="pages/forms/form-examples.html">Form Examples</a>
                </li>
                <li>
                    <a href="pages/forms/form-validation.html">Form Validation</a>
                </li>
                <li>
                    <a href="pages/forms/form-wizard.html">Form Wizard</a>
                </li>
                <li>
                    <a href="pages/forms/editors.html">Editors</a>
                </li> -->
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">view_list</i>
                <span>Realtime Collected Data</span>
            </a>
            <ul class="ml-menu">
                <li><a href="/admin/market">Market Data</a></li>
                <li><a href="/admin/tradeFlow">Trade Flow</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">perm_media</i>
                <span>Medias</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="pages/medias/image-gallery.html">Image Gallery</a>
                </li>
                <li>
                    <a href="pages/medias/carousel.html">Carousel</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">content_copy</i>
                <span>Example Pages</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="pages/examples/profile.html">Profile</a>
                </li>
                <li>
                    <a href="pages/examples/sign-in.html">Sign In</a>
                </li>
                <li>
                    <a href="pages/examples/sign-up.html">Sign Up</a>
                </li>
                <li>
                    <a href="pages/examples/forgot-password.html">Forgot Password</a>
                </li>
                <li>
                    <a href="pages/examples/blank.html">Blank Page</a>
                </li>
                <li>
                    <a href="pages/examples/404.html">404 - Not Found</a>
                </li>
                <li>
                    <a href="pages/examples/500.html">500 - Server Error</a>
                </li>
            </ul>
        </li>
        <li class="header">LABELS</li>
    </ul>
</div>
